@import "tailwindcss";

@theme {
  --breakpoint-md: 700px;
  --breakpoint-lg: 1000px;
  --breakpoint-xl: 1330px;
  --breakpoint-2xl: 1550px;
  --breakpoint-3xl: 1700px;
  
  --font-satoshi: "Satoshi", "sans-serif";
  --font-roboto: "Roboto", "sans-serif";
  
  --font-sans: var(--font-roboto); 
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

[data-next-video] {
  --media-object-fit: cover !important;
}

mux-video video {
  object-fit: cover !important;
}
